/* #main {
    display: flex;
    align-items: center;
} */
.root {
    width:500px;
    margin-left: 15%;
    font-family: 'Antonio', sans-serif;
}

.clockheader {
   margin: 25px 0 10px 2px;
   font-weight: 600;
   font-size: 28px ;
}

.weatherheader{
    margin: 25px 0 10px 2px;
   font-weight: 600;
   font-size: 28px ;
}


.timedate {
    /* display: flex;  */
    color: white;
    
    font-size: 20px;  
    font-weight: bold;
    width: 400px;
    background-color: orange;
    border: 1px solid black; 
    margin: 3px; 
}

.time {
    display: flex;
    justify-content: space-between;
    margin: 10px; 
}

.calendar {
    display: flex;
    justify-content: space-between;
    margin: 10px; 
}

/* .clock {
    color: blue;
    font-family: 'Antonio', sans-serif;
    font-size: 40px;
}

.clockheader {
    font-family: 'Antonio', sans-serif;
    font-size: 20px;
}

.dateheader {
    font-family: 'Antonio', sans-serif;
    font-size: 20px;
} */